## Description

This dataset is from Kaggle. The Owner of the DataSet is Cl√©ment Bisaillon

https://www.kaggle.com/clmentbisaillon/fake-and-real-news-dataset/metadata

The dataset contains two types of articles fake and real News. This dataset was collected from real- world sources; the truthful articles were obtained by crawling articles from Reuters.com (News website). As for the fake news articles, they were collected from different sources. The fake news articles were collected from unreliable websites that were flagged by Politifact (a fact-checking organization in the USA) and Wikipedia. The dataset contains different types of articles on different topics, however, the majority of articles focus on political and World news topics.  

Read more: https://www.uvic.ca/engineering/ece/isot/assets/docs/ISOT_Fake_News_Dataset_ReadMe.pdf

In [ ]:
import pandas as pd

In [410]:
rawData_true= pd.read_csv ("DataSet/English/Kaggle_Botan/True.csv")

In [411]:
rawData_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [412]:
rawData_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [413]:
prepData_true= rawData_true
prepData_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

#### Erweiterung des Dateframes um Spalte "veracitiy"

In [414]:
prepData_true["veracity"]= "true"
prepData_true.head()

,title,text,subject,date,veracity
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

####Erweiterung des Dateframes um Spalte "veracitiy"

In [415]:
prepData_true["quelle"]= ""
prepData_true.head()

,title,text,subject,date,veracity,quelle
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true,
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true,
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true,
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true,
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true,

### Reorder columns

In [416]:
prepData_true= prepData_true[['title','text','quelle','veracity','subject','date']]
prepData_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     21417 non-null  object
 1   text      21417 non-null  object
 2   quelle    21417 non-null  object
 3   veracity  21417 non-null  object
 4   subject   21417 non-null  object
 5   date      21417 non-null  object
dtypes: object(6)
memory usage: 1004.0+ KB

### Split "Text" in "Text" and "Quelle"

In [417]:
import re

In [418]:
match=0
nomatch= 0
rownumber= 0
findrows_nomatch = []
for index, row in prepData_true.iterrows():
    if "(Reuters)" in row.text: # Sucht nach "Reuters" im Text
        if " - " in row.text: # Trennung an der Stelle "-" in Quelle und Text 
            regex = r" - " 
            quelle = re.split(regex,row.text)[0] # Quelle 
            text = re.split(regex,row.text)[1]  # Text 
            row.quelle = quelle 
            row.text = text
            match= match + 1
    else:
        nomatch= nomatch +1 
        findrows_nomatch.append(rownumber)
   
    rownumber= rownumber + 1

In [419]:
prepData_true.head()

,title,text,quelle,veracity,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",The head of a conservative Republican faction ...,WASHINGTON (Reuters),true,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,Transgender people will be allowed for the fir...,WASHINGTON (Reuters),true,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,The special counsel investigation of links bet...,WASHINGTON (Reuters),true,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,Trump campaign adviser George Papadopoulos tol...,WASHINGTON (Reuters),true,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,President Donald Trump called on the U.S. Post...,SEATTLE/WASHINGTON (Reuters),true,politicsNews,"December 29, 2017"

### Data Exploration

In [420]:
print("Anzahl News der Quelle Reuters: {}".format(match))

Anzahl News der Quelle Reuters: 21247

In [421]:
print("Anzahl News von anderen Quellen: {}".format(nomatch))

Anzahl News von anderen Quellen: 170

In [422]:
findrows_nomatch

[7,
 8,
 12,
 13,
 17,
 27,
 40,
 70,
 97,
 103,
 122,
 140,
 192,
 231,
 233,
 257,
 272,
 284,
 308,
 362,
 384,
 427,
 453,
 459,
 495,
 531,
 1076,
 1081,
 1112,
 1141,
 1179,
 1341,
 1381,
 1451,
 1509,
 1539,
 1570,
 1611,
 1645,
 1659,
 1696,
 1711,
 1726,
 1730,
 1748,
 1768,
 1824,
 1826,
 1878,
 1885,
 1932,
 1952,
 1967,
 2012,
 2023,
 2056,
 2087,
 2100,
 2120,
 2140,
 2171,
 2187,
 2247,
 2262,
 2275,
 2313,
 2315,
 2355,
 2383,
 2392,
 2442,
 2486,
 2518,
 2557,
 2602,
 2658,
 2776,
 2811,
 2855,
 2885,
 2922,
 3270,
 3488,
 3782,
 3930,
 3944,
 4170,
 4198,
 4206,
 4307,
 4358,
 4465,
 5290,
 5363,
 5379,
 5412,
 5504,
 5538,
 5588,
 5593,
 5761,
 5784,
 5796,
 5821,
 6026,
 6089,
 6184,
 6313,
 6660,
 6823,
 7265,
 7331,
 7365,
 7762,
 7922,
 8194,
 8195,
 8247,
 8465,
 8481,
 8482,
 8505,
 8506,
 8563,
 8580,
 8771,
 8888,
 8908,
 8965,
 8970,
 9008,
 9009,
 9285,
 9307,
 9351,
 9439,
 9451,
 9473,
 9496,
 9535,
 9618,
 9630,
 9737,
 9826,
 9835,
 9994,
 10048,
 10147,
 10165,
 10479,
 10593,
 11199,
 11203,
 11205,
 11206,
 11251,
 11340,
 11478,
 13484,
 15009,
 15147,
 15669,
 15670,
 17871,
 18528,
 19616,
 19715,
 19774,
 20232,
 21198]

### Example : Twitter account Donald Trump

In [423]:
prepData_true["text"][11340]

'The following statements were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own. Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Based on the fact that the very unfair and unpopular Individual Mandate has been terminated as part of our Tax Cut Bill, which essentially Repeals (over time) ObamaCare, the Democrats & Republicans will eventually come together and develop a great new HealthCare plan! [0658 EST] - WOW, @foxandfrlends  Dossier is bogus. Clinton Campaign, DNC funded Dossier. FBI CANNOT (after all of this time) VERIFY CLAIMS IN DOSSIER OF RUSSIA/TRUMP COLLUSION. FBI TAINTED.  And they used this Crooked Hillary pile of garbage as the basis for going after the Trump Campaign! [0824 EST] - All signs are that business is looking really good for next year, only to be helped further by our Tax Cut Bill. Will be a great year for Companies and JOBS! Stock Market is poised for another year of SUCCESS! [17:17 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR) '

### Data Preparation 2

### Extract news only from the Reuters source

In [424]:
prepData_true_1 = prepData_true.drop(findrows_nomatch)

In [425]:
prepData_true_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21247 entries, 0 to 21416
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     21247 non-null  object
 1   text      21247 non-null  object
 2   quelle    21247 non-null  object
 3   veracity  21247 non-null  object
 4   subject   21247 non-null  object
 5   date      21247 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

### Extract only "politicsNews"

In [426]:
prepData_true_1 = prepData_true_1.loc[prepData_true_1['subject'] == "politicsNews"]

In [427]:
prepData_true_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11116 entries, 0 to 11271
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     11116 non-null  object
 1   text      11116 non-null  object
 2   quelle    11116 non-null  object
 3   veracity  11116 non-null  object
 4   subject   11116 non-null  object
 5   date      11116 non-null  object
dtypes: object(6)
memory usage: 607.9+ KB

### Import politic News to .csv File

In [431]:
prepData_true_1.to_csv("DataSet/prepData_true.csv")